.login-block {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 360px;
}
.login-form .row > div {
    margin-bottom: 10px;
}
.login-form .row > div:last-child {
    margin-bottom: 0;
}
.login-form .login-button button {
    min-width: 100px;
}
